.card-container {
  margin: 60px 7px;
  padding: 0 0 10px;
  background-color: #eeeeee;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: all 0.3s;
  }
  img {
    width: 300px;
  }
  h2 {
    font-weight: normal;
    color: #5c5c5c;
    margin: 5px 10px;
    width: 200px;
  }
  .category-container {
    font-size: 1rem;
  }
  //   media query
  @media screen and(max-width:'320px') {
    img {
      width: 250px;
    }
  }
}
