// preloader
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
// Styles
@import "components/details";
@import "components/searchBar";
@import "components/recipeCard";
@import "global/fonts";
@import "global/reset";
@import "global/scrollbar";
@import "global/bootstrap";
