*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}
a {
  text-decoration: none !important;
  color: inherit;
}
body {
  font-family: "Quicksand", sans-serif !important;
  font-family: "Rubik", sans-serif !important;
  font-weight: 700 !important;
}
textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus,
select:hover,
select:active,
select:focus,
button:hover,
button:active,
button:focus,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
